[gerrit]
  basePath = git
	canonicalWebUrl = http://10.0.2.15/gerrit
  serverId = e281faf1-6461-40cb-9372-2e9c6466aff3

[database]
  type = postgresql
  hostname = postgres
  database = gerrit_db
  username = gerrit

[index]
  type = LUCENE

[auth]
  type = OPENID

[receive]
  enableSignedPush = false

[sendemail]
  smtpServer = localhost
  smtpServerPort = 25
  smtpUser = vuhungkt18
  smtpPass =
  from =

[container]
  user = gerrit
  javaOptions = -Dfile.encoding=UTF-8
	javaOptions = "-Dflogger.backend_factory=com.google.common.flogger.backend.log4j.Log4jBackendFactory#getInstance"
	javaOptions = "-Dflogger.logging_context=com.google.gerrit.server.logging.LoggingContext#getInstance"
	javaHome = /usr/lib/jvm/java-11-openjdk-11.0.8.10-0.el8_2.x86_64
	javaOptions = -Djava.security.egd=file:/dev/./urandom
	javaOptions = --add-opens java.base/java.net=ALL-UNNAMED
	javaOptions = --add-opens java.base/java.lang.invoke=ALL-UNNAMED

[sshd]
  listenAddress = *:29418

[httpd]
  listenUrl = proxy-http://*:8080/gerrit

[cache]
  directory = cache

[plugins]
  allowRemoteAdmin = true

[commentLink "its-jira"]
  match = (CLD[A-Z]+-[0-9]+)
  html = <a href=\"http://jira.example.com/browse/$1\" target=_blank>$1</a>
  association = SUGGESTED

[its-jira]
  url = http://jira.example.com/
  username =
